// COLOR

$color-primary: #3f5d45;
$color-primary-light: #8da291;

$color-bg: #eaf0ed;

$color-yellow: #ffe180;

$color-white: #fff;

// FONT
$font-w-semibold: 600;
$font-w-light: 300;
$font-s-xl: 3.6rem;
$font-s-lg: 2.4rem;
$font-s-mid: 2rem;

// GUTTER
$gutter-side: 4.2rem;
$gutter-text: 4.5rem;
