// COLOR

$color-primary: #3f5d45;
$color-primary-light: #8da291;

$color-bg: #eaf0ed;

$color-yellow: #ffe180;

$color-white: #fff;

// FONT
$font-w-semibold: 600;
$font-w-light: 300;

// GUTTER
$gutter-side: 4.2rem;
$gutter-text: 4.5rem;
