// 商品資訊
.card {
    max-width: 30rem;

    display: flex;
    flex-direction: column;

    position: relative;
    border: 1px solid $color-bg;

    // 左上角的標籤
    &__mark {
        color: $color-bg;
        background-color: $color-primary;
        writing-mode: vertical-rl;
        letter-spacing: 3px;

        padding: 1.5rem 1rem;
        position: absolute;
        top: 0;
        left: 2rem;
    }

    // 右上角的 icon
    &__icon {
        width: 2rem;
        height: 1.835rem;

        position: absolute;
        top: 1.9rem;
        right: 2.2rem;
    }

    &__img-box {
        width: 100%;
        height: 31.5rem;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    // 商品名稱以及價格用 flex 佔滿整個寬
    &__text-box {
        display: flex;
        border: 1px solid $color-bg;
        font-size: $font-s-mid;
        color: $color-primary;
        text-align: center;
    }

    &__text {
        flex-grow: 1;
        padding: 1.4rem 0;
    }

    &__price {
        flex-basis: 42.33%;
        border-left: 2px solid $color-bg;
        padding: 1.4rem 0;
        font-weight: $font-w-semibold;
    }
}
