.subscribe {
    background-color: $color-primary;
    padding: 3.8rem 0;
    display: flex;
    justify-content: space-around;
    &__logo-box {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__logo {
        width: 4rem;
        height: 4rem;
        margin-right: 2rem;
    }

    &__text {
        color: $color-bg;
        font-size: $font-s-lg;
    }

    &__form {
        width: 31.6rem;
    }

    &__input {
        border: none;
        padding: 2rem;

        &:focus {
            outline: none;
        }
    }
}
