.banner {
    &__quote {
        width: 8.9rem;
        position: absolute;
        top: 4rem;
        right: 4rem;
    }
}

.content {
    &--product-page {
        margin: 0 $gutter-side;
        max-width: 94rem;
        display: flex;
        justify-content: space-around;
    }

    .side-menu {
        height: 100%;
        margin-right: 2rem;
    }
}

.product-card {
    &--product-page {
        display: flex;
        width: 67.66666%;
        flex-wrap: wrap;
        justify-content: space-between;

        & .card {
            width: 50%;
            margin-bottom: 2rem;
        }
    }
}
